{% load static %}

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <title>Book & Books</title>
</head>
<body>
    <h1>Hello, World</h1>
    <h3>Let's get some book reccomendations!</h3>
    <input placeholder="What's your favorite book?" id="search"><br>
        <table id="table">
            <tr>
                
            </tr>
        </table>
</body>
<script src="{% static 'function.js' %}"></script>
</html>