@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

body {
    font-family: 'Poppins', sans-serif;
    text-align: center;
    background-color: #f3f3f3;
}

h1 {
    font-size: 56px;
    margin: 0px;
    color: #596869;
}

h3 {
    margin: 0;
    color: #596869;
}

table {
    margin-top: 20px;
    text-align: center;
    padding : 0 auto;
}

th {
    padding: 0 50px;
}

#judul {
    max-width: 200px;
}

#search {
    width: 300px;
    height: 30px;
    margin: 12px;
    border-radius: 20px;
    text-align: center;
}

table, th, td {
    margin: auto;
    border: 1px solid black;

}

::-webkit-input-placeholder {
    text-align: center;
}
  
:-moz-placeholder {
    text-align: center;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}