{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block content %}

{% if user.is_authenticated %}
  <h1>Hi, {{ user.username }}!</h1>
  <h1>Have a nice day!</h1>
{% else %}
  <h1>Please Log In or Sign Up to experience our website!</h1>
{% endif %}
{% endblock %}